@font-face {
  font-family: "Cyberpunk";
  src:
    local("Cyberpunk"),
    url("../assets/font/Cyberpunk.otf") format("opentype") tech(color-COLRv1),
}

@font-face {
  font-family: "BirdOfParadise";
  src:
    local("BirdOfParadise"),
    url("../assets/font/BirdOfParadise.ttf") format("truetype");
}