/* Container for Project Titles */
#portfolio-titles {
    max-height: 50vh; /* Adjust the height as needed */
    overflow-y: auto; /* Enables scrolling if content exceeds max-height */
    padding: 10px; /* Padding inside the container */
    border-radius: 5px; /* Rounds the corners of the container */
}

/* Styling for Project Titles */
#portfolio-titles .project-title {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: transform 0.3s ease;
    color: #888;
    text-decoration: none;
    border: none;
    margin-bottom: 10px;
    background-color: #faf8f8;
    border-radius: 5px;
}

/* Arrow styling within the Project Title */
#portfolio-titles .project-title .arrow {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

/* Hover effect for Project Titles */
#portfolio-titles .project-title:hover {
    transform: translateX(10px);
    color: #15ff00;
    background-color: #e9ecef;
}

#portfolio-titles .project-title:hover .arrow {
    transform: translateX(5px);
}

/* Container for Image Display */
.image-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

/* Image styling within the container */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Overlay styling within the Image Container */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0 , 0);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 5px;
}

/* Hover effect for the Image Overlay */
.image-container:hover .overlay {
    opacity: 1;
}

/* Link styling within the Overlay */
.overlay a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
}
